@use 'index' as *;
@use 'sass:map';

button {
  width: 100%;
  padding: map.get($spacing, 150) map.get($spacing, 200);
  border: none;
  border-radius: map.get($radius, 8);
  cursor: pointer;
  transition: background-color 200ms ease;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: map.get($spacing, 050);
  }

  &.primary {
    background-color: var(--teal-700);

    span {
      color: var(--neutral-0);
      stroke: var(--neutral-0);
    }

    &:hover {
      background-color: var(--teal-800);
    }
  }

  &.secondary {
     background-color: var(--neutral-0);
     border: 1px solid var(--neutral-400);

     span {
       color: var(--neutral-900);
       stroke: var(--neutral-900);
     }

     &:hover {
       background-color: var(--neutral-100);
       border-color: var(--neutral-400);
     }
  }

  &.error {
    background-color: var(--red-800);

    span {
      color: var(--neutral-0);
      stroke: var(--neutral-0);
    }
  }

  &.sm {
    padding: map.get($spacing, 125) map.get($spacing, 150);
  }

  &.only-icon {
    width: 32px;
    height: 32px;
    padding: 0;
  }
}
