@use '../../../../../../../../../styles/index' as *;
@use 'sass:map';

.info {
  color: var(--neutral-800);
  stroke: var(--neutral-800);
  display: flex;
  align-items: center;
  gap: map.get($spacing, 075);

  ::ng-deep app-icon {
    stroke: var(--neutral-800);
  }
}
