@use 'index' as *;
@use 'sass:map';

.main-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: flex-start;

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    main {
      flex: 1;
      background-color: var(--neutral-100);
      padding: map.get($spacing, 400);
      overflow-y: scroll;
    }
  }
}
