@use 'index' as *;
@use 'sass:map';

.main-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: flex-start;

  main {
    width: 100%;
    min-height: 100%;
    background-color: var(--neutral-100);
    padding: map.get($spacing, 400);
  }
}
