<div class="tag-checkbox-container">
  <input
    type="checkbox"
    [id]="name"
    [checked]="checkboxActive"
    (change)="toggleCheckboxActive()"
  >
  <button class="custom-checkbox" [class.active]="checkboxActive" (click)="toggleCheckboxActive()">
    @if (checkboxActive) {
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M16.666 5 7.5 14.167 3.333 10"/>
      </svg>
    }
  </button>
  <label class="text-preset-3 label" [for]="name">
    {{ label }}
  </label>
  <div class="amount">
    <span class="text-preset-4-medium">{{ amount }}</span>
  </div>
</div>
