@use '../../../../../../../../../styles/index' as *;
@use 'sass:map';

.tag {
  width: auto;
  padding: map.get($spacing, 025) map.get($spacing, 100);
  background-color: var(--neutral-100);
  border-radius: map.get($radius, 4);
  color: var(--neutral-800);
}
