.dark-mode {
  --neutral-900: #001414;
  --neutral-800: #001F1F;
  --neutral-600: #002E2D;
  --neutral-500: #004241;
  --neutral-400: #004746;
  --neutral-300: #00706E;
  --neutral-100: #B1B9B9;
  --neutral-0: #FFFFFF;
}
