<article>
  <div class="container">
    <header>
      <img src="./images/favicon-frontend-mentor.png" alt="logo">
      <div class="info">
        <h3 class="text-preset-2">Frontend Mentor</h3>
        <p class="text-preset-5">frontendmentor.io</p>
      </div>
      <app-button hierarchy="secondary" [onlyIcon]="true">
        <app-icon icon="icon-menu-bookmark" />
      </app-button>
    </header>
    <div class="line"></div>
      <p class="text-preset-4-medium">Improve your front-end coding skills by building real projects. Solve real-world HTML, CSS and JavaScript challenges whilst working to professional designs.</p>
      <div class="tags">
        <app-tag tagname="Practice" />
        <app-tag tagname="Learning" />
        <app-tag tagname="Community" />
      </div>
  </div>
  <footer>
    <div class="info">
      <app-info value="47" icon="icon-visit-count" />
      <app-info value="23 Sep" icon="icon-last-visited" />
      <app-info value="15 Jan" icon="icon-created" />
    </div>
    <app-icon icon="icon-pin" />
  </footer>
</article>
