@use '../../../../../../../styles/index' as *;
@use 'sass:map';

article {
  width: 100%;
  background-color: var(--neutral-0);
  border-radius: map.get($radius, 12);

  .container {
    width: 100%;
    padding: map.get($spacing, 200);
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 200);

    header {
      width: 100%;
      display: flex;
      gap: map.get($spacing, 150);

      img {
        width: 44px;
        height: 44px;
        border: 1px solid var(--neutral-100);
        border-radius: map.get($radius, 8);
      }

      .info {
        flex: 1;
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: var(--neutral-300);
    }

    p {
      color: var(--neutral-800);
    }

    .tags {
      width: 100%;
      display: flex;
      gap: map.get($spacing, 100);
    }
  }

  footer {
    width: 100%;
    padding: map.get($spacing, 150) map.get($spacing, 200);
    border-top: 1px solid var(--neutral-300);
    color: var(--neutral-800);
    stroke: var(--neutral-800);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      flex: 1;
      display: flex;
      gap: map.get($spacing, 200);
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
