@use 'index' as *;
@use 'sass:map';

.container {
  width: 100%;
  height: 100vh;
  padding: 0 map.get($spacing, 200);
  background-color: var(--neutral-100);

  display: flex;
  justify-content: center;
  align-items: center;

  main {
    width: 448px;
    background-color: var(--neutral-0);
    padding: map.get($spacing, 400);
    border-radius: map.get($radius, 12);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: map.get($spacing, 400);

    .form-header {
      h1 {
        color: var(--neutral-900);
      }

      p {
        margin-top: map.get($spacing, 075);
        color: var(--neutral-800);
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: map.get($spacing, 200);
    }

    .form-footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: map.get($spacing, 150);

      p {
        color: var(--neutral-800);

        a {
          color: var(--neutral-900);
          text-decoration: none;
          transition: color 200ms ease;

          &:hover {
            color: var(--teal-700);
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container main {
    width: 100%;
  }
}
