@use '../../../../../../styles/index' as *;
@use 'sass:map';

aside {
  width: 296px;
  height: 100%;
  background-color: var(--neutral-0);
  border-right: 1px solid var(--neutral-300);

  .header {
    width: 100%;
    padding: map.get($spacing, 250) map.get($spacing, 250) map.get($spacing, 125) map.get($spacing, 250);
    margin-bottom: map.get($spacing, 200);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: map.get($spacing, 250);
  }

  section {
    width: 100%;
    padding: map.get($spacing, 0) map.get($spacing, 200) map.get($spacing, 200) map.get($spacing, 200);

    .navigation {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .tags {
      width: 100%;
      margin-top: map.get($spacing, 200);

      h3 {
        margin: 0;
        color: var(--neutral-800);
        padding: 0 map.get($spacing, 150) 0 map.get($spacing, 050);
      }
    }
  }
}
